<div ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default navbar-fixed-top header">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li class="fs-header-menu-box">
                        <a id="company-nav" class="fs-header-menu" ui-sref="main.listCompanies" ng-click="setSearchEntity('Company')"
                           ng-class="{active: searchEntity == 'company'}">
                            Companies
                        </a>
                    </li>
                    <li class="fs-header-menu-box">
                        <a id="owner-nav" class="fs-header-menu" ui-sref="main.listOwner" ng-click="setSearchEntity('Owner')"
                           ng-class="{active: searchEntity == 'owner'}">
                            Owners
                        </a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <button class="btn btn-danger navbar-btn btn-logout" ng-click="login()">{{buttonLoginText}}</button>
                </div>
                <form class="navbar-form navbar-right" ng-show="!authenticated">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input type="text" class="form-control fs-login-input" placeholder="Rest server host port" ng-model="restServerHost">
                            <input type="text" class="form-control fs-login-input" placeholder="Username" ng-model="credentials.username">
                            <input type="password" class="form-control fs-login-input" placeholder="Password" ng-model="credentials.password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
